		body {
			font-family: "Verdana", sans-serif;
		}

		#topbar {
			width: 90%;
			background: #D2D4D2;
			padding-left: 5%;
			padding-right: 5%;
			padding-top: 60px;
			padding-bottom: 20px;
			position: relative;
		}

		#logo-container {
			width: 240px;
			margin-left: auto;
			margin-right: auto;
		}
		
		#back-button {
			float: left;
			width: 100px;
			position: relative;
			top: -18px;
		}			

		#musoni-logo {
			margin-left: auto;
			margin-right: auto;
			display: block;
			position: relative;
			top: 8px;
		}
	

		#sync-button {
			float: right;
			width: 80px;
		}

		#main-region {
			width: 100%;
			clear: both;
		}

		#buttons-container {
			margin-left: auto;
			margin-right: auto;
			width: 980px;
		}

		#create-customer, #create-group {
			width: 250px;
			height: 250px;
			color: white;
			display: inline-block;
			margin: 100px;
			padding: 20px;
			padding-top: 20px;
			font-size: 30px;
			overflow: hidden;
		}

		#create-customer {
			background: #22BD5B url('User.png') center center no-repeat;
		}

		#create-group {
			background: #22BD5B url('Users.png') center center no-repeat;
		}
